@import 'reset';
@import 'colors';

/* Web Fonts
font-family: 'Playfair Display', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Abril Fatface', cursive;
*/


/* !!!!!! DESKTOP !!!!!!!! */

body {
  font-size: 11pt;
}

.header {
  background: url(../img/headerstrip.png) repeat-x center;
  text-align: center;
  height: 177px;
  // font-family: 'Playfair Display', serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 4em;
  color: $dark-grey;
  text-shadow: -1px -1px 1px $black, 1px 1px 1px $light-grey;
  .text {
    padding-top: 20px;
    margin-bottom: -15px;
  }

  .logo {
    display: inline-block;
    img { max-width: 50%; }
  }

  span {
    text-transform: uppercase;
    font-weight: 800;
  }
}

#content {
  padding: 30px;

  .intro {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
  }

  #feed {
    margin: 20px auto;
  }

  #tweetbar {
    overflow: scroll;
    #tweetwrapper {
      position: relative;
    }

    li {
      list-style-type: none;
      display: inline-block;
      width: 100%;
    }

    height: 60px;
    width: 100%;
    background: black;
    position: fixed;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    line-height: 2.5em;
    font-size: 1.5em;
    color: $white;
  }
}

.caption {
  display: none;
}

.insta-img {
  margin-top: 15px;
  img {
    border-radius: 1000px;
  }

  img:hover {
    opacity: 0.5;
  }
}

/* !!!!!! MOBILE !!!!!!!! */

@media hanheld, only screen and (max-width: 767px) {
  body {
    // stylez
  }
}
